/* container section---------- */
.first-row {
  display: flex;
  gap: 20px;
  width: 60%;
  margin: auto;
  height: 600px;
}
/* Rows of the first-row */
.first-row-col {
  border: 1px solid #ccc;
  display: flex;
  gap: 20px;
  flex-direction: column;

  height: 100%;
}

/* column 1 style */
.col-1 {
  width: 50%;
}

/* column 1 image style */
.col-1 img {
  height: 50%;
}
/* column 2 and 3 style */
.col-2,
.col-3 {
  width: 25%;
}

/* all image style */
img {
  width: 100%;
  height: 200px !important;
}

/* content sesctions style */
.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 30%;
}

/* content elements style */
p,
h2,
span {
  padding: 10px;
}

